<div class="container">
  <div class="card border-0 shadow rounded my-4">
    <h5 class="card-header">New Truck</h5>
    <div class="card-body">
      <h5 class="card-title">
        <%= simple_form_for @truck do |f| %>
          <%= f.input :capacity %>
          <%= f.input :model %>
          <div class="col text-center">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </h5>
    </div>
  </div>
</div>
