* { box-sizing:border-box; }

.body {
	font-family: Helvetica;
	background: #eee;
  -webkit-font-smoothing: antialiased;
}

.hgroup {
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #000000; }

h3 { color: #000000; }

.form {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 0px;
  color: #495057;
  height: auto;
  border-radius: 0;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
}

.group {
	position: static;
	margin-bottom: 45px;
}

.input {
	font-size: 18px;
	padding: 5px;
	display: block;
	background: #fff;
	color: #000000;
	width: 100%;
	border: none;
	border-radius: 0;

}

input:focus { outline: none; }
