<div class="container about-container my-5 p-5">
  <div class="row justify-content-center">
    <div class="col-6 about">
      <%= image_tag "truck-cover.jpg", style:"width:100%", class:"image"%>
    </div>
    <div class="col-6 about py-5">
      <h3>A trusted ally for your business</h3>
      <p>Full Truck is trusted worldwide by industry leaders to meet their logistics needs. We're opening new avenues for innovation and scale across the globe.</p>
    </div>
  </div>
  <div class="about-boxes col-12">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-lg-3 col-xs-12 col-sm-12">
        <div class="box">
          <i class="fas fa-archive"></i>
          <h4>Experience</h4>
          <p>10 years of experience in the field of high performance vehicles</p>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-12">
        <div class="box">
          <i class="fas fa-check-square"></i>
          <h4> Technology </h4>
          <p>We use a system that gives full visibility and segurity to all of our clients.</p>
        </div>
      </div>
      <div class="col-lg-3 col-xs-12 col-sm-12">
        <div class="box">
          <i class="fas fa-handshake"></i>
          <h4> Quality of Service </h4>
          <p> We provide a personalized service with high standards of customer satisfaction. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="images px-0 text-center">
  <div class="row justify-content-center">
    <div class="col-6 about py-5">
      <h3>For more information</h3>
      <div class="center">
        <a class="contact-btn" href="/contact">Contact Us</a>
      </div>
    </div>
    <div class="col-6 about">
      <%= image_tag "og-fulltrack-cover.jpg", style:"width:100%", class:"image"%>
    </div>
  </div>
    <%= image_tag "", class:"pt-3 col-10"%>
  </div>
</div>
