<%# https://gaz.mx/projects/fulltruck/truck_vid.mp4 %>

<video src="https://gaz.mx/projects/fulltruck/truck_vid.mp4" muted loop autoplay></video> %>
<div class="overlay"></div>

<div class="home-tex">
  <h2>Explore the world</h2>
</div>

<%= render 'shared/search_form' %>

<h2>Some title</h2>

<div class="container p-5 bg-light">
  <div class="cards">
    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba shadow">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>


  </div>
</div>
