<%# https://gaz.mx/projects/fulltruck/truck_vid.mp4 %>

<video src="https://gaz.mx/projects/fulltruck/truck_vid.mp4" muted loop autoplay></video>
<div class="overlay"></div>

<div class="home-tex">
  <h2>Explore the world</h2>
</div>

<%= render 'shared/search_form' %>
