<div class="video-container">
  <video src="https://gaz.mx/projects/fulltruck/truck_vid.mp4" muted loop autoplay></video>
  <div class="overlay"></div>
  <div class="video-content">
    <h2>TAKE CONTROL </br> OF YOUR FREIGHT</h2>
  </div>
  <div class="search-form">
    <%= render 'shared/search_form' %>
  </div>
</div>

<div class="container latest-freigths my-5 d-flex justify-content-center align-items-center">

    <h2 class="latest">Latest Freights</h2>

</div>


<div class="container bg-light">
  <div class="cards p-4">
    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba shadow">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>

    <div class="card-container shadow my-3">
      <div class="card-destination ba">
      </div>
      <div class="freight-info">
        <p class="freight-title py-2">Origin and Destination</p>
        <p class="freight-description py-2">I'm traveling from blablabla... This is where the description goes blabla lorem ipsum, something else</p>
        <div class="loc-pri d-flex justify-content-between align-items-center pt-2">
          <p class="location"><i class="fas fa-map-marker-alt pr-2"></i>Santiago, Chile</p>
          <p class="pricing"><i class="fas fa-money-bill pr-2"></i>$100</p>
        </div>
      </div>
    </div>


  </div>
</div>
